## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [ ]:
# Please write The solution Here for above question 1:
def naruto():
  a=int(input())
  b=int(input())
  if(a*b>1000):
    return a+b
  else:
    return a*b
res=naruto()
print(res)

5
6
30

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [ ]:
# Please write The solution Here for above question 2:

for i in range(10):
  if(i==0):
    print(f'Current Number{i} Previous Number {i} Sum: {i+i}')
  else:
     print(f'Current Number{i} Previous Number {i-1} Sum: {i+i-1}')

Current Number0 Previous Number 0 Sum: 0
Current Number1 Previous Number 0 Sum: 1
Current Number2 Previous Number 1 Sum: 3
Current Number3 Previous Number 2 Sum: 5
Current Number4 Previous Number 3 Sum: 7
Current Number5 Previous Number 4 Sum: 9
Current Number6 Previous Number 5 Sum: 11
Current Number7 Previous Number 6 Sum: 13
Current Number8 Previous Number 7 Sum: 15
Current Number9 Previous Number 8 Sum: 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [ ]:
# Please write The solution Here for above question 3:
def A(s,n):
  if(n>=len(s)):
    return 'invalid'
  else:
    return s[n+1:]
s="santhosh"
n=int(input())
sol=A(s,n)
print(sol)

4
osh

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [ ]:
# Please write The solution Here for above question 4:
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
l=len(b)
if(a[0]==a[l-1] and b[0]==b[l-1]):
  print(a)
  print(b)
  print("result is true")
else:
   print(a)
   print(b)
   print("result is false")

[10, 20, 30, 40, 10]
[10, 20, 30, 40, 10]
result is true

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [ ]:
# Please write The solution Here for above question 5:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(0,len(list1)):
  print(list1[i],end=" ")
  print(list2[i])

10 400
20 300
30 200
40 100

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
# Please write The solution Here for above question 6:
lists = ["Mike", "", "Emma", "Kelly", "", "Brad"]
sasuke=[]
for i in lists:
  if(len(i)>0):
    sasuke.append(i)
  else:
    pass
print(sasuke)

['Mike', 'Emma', 'Kelly', 'Brad']